*{
    transition: 0.4s;
    font-family: comic sans ms;
    color: white;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(./pics/clouds-sky-anime.jpg);
    background-size:inherit;
    background-position: center;
}
.container {
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
section{
    width: 40%;
    height: 80%;
    margin: 20px auto;
    backdrop-filter: blur(7px);
    border: 2px solid white;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
section::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    right: 30px;
    top: 80%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top: 3px solid white;
    border-right: 3px solid white;
    animation: aniR 2s linear infinite;
}
section::after{
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    right: 15px;
    top: 77.7%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 3px solid transparent;
    border-top: 3px solid black;
    border-left: 3px solid black;
    animation: aniL 3s linear infinite;
}
section.correct::after {
    content: "";
    border-color: green;
}
section.correct::before {
    content: "";
    border-color: transparent;
}
section.red::after {
    content: "";
    border-top: 3px solid red;
    border-left: 3px solid red;
}
section.red::before {
    content: "";
    border-top: 3px solid white;
    border-right: 3px solid white;
}
section.orange::after {
    content: "";
    border-top: 3px solid orangered;
    border-right: 3px solid orangered;
    border-left: 3px solid orangered;
}
section.orange::before {
    content: "";
    border-top: 3px solid white;
}

/* Start First Section */
.first {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.first button{
    padding: 10px 20px;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    background-color:yellow;
    color: black;
    display:none;
}
.mid img {
    max-width: 210px;
    border-radius: 20px;
}
.pock {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.left button {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: green;
}
.left button:disabled {
    background-color: dimgray;
    cursor: not-allowed;
}
.left input{
    width: 80px;
    font-size: 40px;
    margin: 0 20px;
    border-radius: 10px;
    color: black;
}
.right{
    line-height: 2;
}
.reset {
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 20px;
}
.reset:hover {
    color: red;
}
hr {
    width: 80%;
    height: 2px;
    border-radius: 2px;
    background: white;
}
#fir {
    font-size: 30px;
}
@media (max-width:1200px) {
    section {
        width: 50%;
    }
}
@media (max-width:991px) {
    section {
        width: 60%;
    }
}
@media (max-width:776px) {
    section {
        width: 80%;
    }
}
@media (max-width:555px) {
    section {
        width: 100%;
        border: none;
    }
}
@keyframes  aniR {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes  aniL {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}